@charset "UTF-8";

@font-face {
    font-family: 'NotoSerif';
    src: url(Fontes/NotoSerif-BoldItalic.ttf);
    font-weight: normal;
}
@font-face {
    font-family:'NotoSerifRegular';
    src: url(Fontes/NotoSerif-Regular.ttf);
    font-weight:normal ;
}
* {
margin: 0px;
padding: 0px;
}


body{
font-family: Arial;
background: #47062d44;
}
header{
background-image: linear-gradient(to bottom,#331c29, #00000000);
min-height: 150px;
text-align: left;
padding: 20px;
}
#titulo-principal{
text-shadow: 2px, 2px, 2px black;
text-align: center;
text-decoration-color: #F1EBE9;
}
.slogan {
font-family: 'NotoSerif';    
text-align: center;
font-weight: normal;
color: #D1936F;
text-shadow: 0.5px 0.5px 0.5px #000000;
}
.Local {
    font-family: 'NotoSerif';    
    text-align: right;
    font-weight: normal;
    color: #D1936F;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    font-size: 70%;    
}
.Telefone {
font-family: 'NotoSerif';    
text-align: right;
font-weight: normal;
color: #D1936F;
text-shadow: 0.5px 0.5px 0.5px #000000;
font-size: 70%;
}
nav {
    background-color:#00000000;
    padding: 10px;
    box-shadow: 0px 2px 2px black;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    border-radius: 5px;
}

nav > a {
    color: #D1936F;
    text-decoration: none;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: 'NotoSerif';
}

nav > a:hover {
    background-color: #00000000;
    color: #47062D;   
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color:#47062d13;
    box-shadow:  2px 2px 2px 2px black;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-radius: 10px;
    border-width: 10px;
  margin-top: 2px;
}

main h1 {
    font-family: 'NotoSerif';
    color: #D1936F;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    background-image: linear-gradient(to right, #47062d60, transparent);
    padding: 10px;
    margin: auto;
    border-radius: 5px 20px
}

main p {
    font-family: 'NotoSerifRegular';
    text-align: center;
    font-size: 1em;

    

}

.prof {
    font-family: 'NotoSerif';
    text-align: center;
    font-size: 110%;
    
}

.especial {
    font-family:'NotoSerifRegular';
    font-size: 80%;
    font-style: italic;
    text-align: justify;
    text-align: center;
    

}

.tratamentos {
    font-family: 'NotoSerif';
    text-align: center;
    font-size: 120%;
    padding: 10px;
    margin: auto;
    border-radius:10px 20px;
    
   
}
div.video {
    margin: 0px -10px 20px -10px;
    padding: 20px;
    position: relative;
    padding-bottom: 01%;
    text-align: center;
}

.definicao {
    font-family:'NotoSerifRegular';
    font-size: 90%;
    font-style: italic;
    text-align: center;
    padding: 5px;
}
.Resultado {
    font-family: 'NotoSerif';
    text-align: center;
    font-size: 50px;
}

img{
    display: block;
    padding: 10px;
    margin: 0px auto;
   }

aside {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black ;
    background-color: #d1936f;
}

aside > h2 {
    text-align: center;
    font-family: 'NotoSerif';
    background-color: #331c29a8;
    color: #D1936F;
    padding: 20px;
    margin: -5px -5px 0px 0px;
    border-radius:10px 10px 0px 0px;

}

aside > p {
    text-align: center;
    font-family:'NotoSerifRegular';
}
footer {
    background-color: #331c29;
    color: #d1936f;
    font-size: 90%;
    text-align: center;
    padding: 3px;
    text-decoration: underline;
}





